@page
@using NewsFeedApp.Models
@model IndexModel
@{
	ViewData["Title"] = "News feed";
	var pager = Model.Pager;

	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pageNo = pager.CurrentPage;
	}
}

<div class="container pagerContainer">
	@if (pager.TotalPages > 0)
	{
		<ul class="pagination justify-content-center" style="width: 100%;">

			@if (pager.CurrentPage > 1)
			{
				<li class="page-item">
					<a class=" page-link" asp-asp-controller="News" asp-action="Index" asp-route-pg="1">First</a>
				</li>
				<li class="page-item">
					<a class=" page-link" asp-asp-controller="News" asp-action="Index" asp-route-pg="@(pager.CurrentPage -1)">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
			}

			@for (int pge = pager.StartPage; pge < pager.EndPage; pge++)
			{
				<li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
					<a class="page-link" asp-controller="News" asp-action="Index" asp-route-pg="@pge">@pge</a>

				</li>
			}

			@if (pager.CurrentPage < pager.TotalPages)
			{
				<li class="page-item">
					<a class=" page-link" asp-asp-controller="News" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
				<li class="page-item">
					<a class=" page-link" asp-asp-controller="News" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
				</li>
			}
		</ul>
	}
</div>

<div class="container">
	<div class="input-group mb-3">
		<input class="form-control" type="text" />
		<button class="btn btn-outline-primary" formmethod="post">Keresés</button>
	</div>
	<div class="newsWrapper row row-cols-3" style="margin: 0px auto;">
		@foreach (var news in Model.News)
		{
			<div class="card col p-3" style="padding: 10px;margin: 5px;width: 25rem">
				<img src="@news.MediaContent" class="card-img-top img-thumbnail" alt="news-thumbnail" onclick="OpenNews(@news.ArcticleLink)" />
				<div class="card-group p-3 ">
					<p class="card-title fw-bold fs-5 mb-0">
						@news.Title
					</p><br />
					<p class="card-body fst-italic small p-0" style="border-bottom: dotted 1px">
						@news.PubDate
					</p>
					<p class="card-text mt-1" style="text-align: justify;">
						@news.Description
					</p><br />
				</div>
			</div>
		}
	</div>
</div>

<div class="container pagerContainer">
	@if (pager.TotalPages > 0)
	{
		<ul class="pagination justify-content-center">

			@if (pager.CurrentPage > 1)
			{
				<li class="page-item">
					<a class=" page-link" asp-asp-controller="News" asp-action="Index" asp-route-pg="1">First</a>
				</li>
				<li class="page-item">
					<a class=" page-link" asp-asp-controller="News" asp-action="Index" asp-route-pg="@(pager.CurrentPage -1)">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
			}

			@for (int pge = pager.StartPage; pge < pager.EndPage; pge++)
			{
				<li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
					<a class="page-link" asp-controller="News" asp-action="Index" asp-route-pg="@pge">@pge</a>

				</li>
			}

			@if (pager.CurrentPage < pager.TotalPages)
			{
				<li class="page-item">
					<a class=" page-link" asp-asp-controller="News" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
				<li class="page-item">
					<a class=" page-link" asp-asp-controller="News" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
				</li>
			}
		</ul>
	}
</div>

<script>
	function OpenNews(link){
	window.open(link);
	}

</script>

<style>
	body {
		background-color: aliceblue;
		font-family: Arial, Helvetica, sans-serif;
	}

	.card {
		box-shadow: 3px 1px 10px darkgrey;
	}

	.pagerContainer{
		margin-top: 20px;
		margin-bottom: 20px;
	}

</style>