@page
@model IndexModel
@{
	ViewData["Title"] = "News feed";
}

<div class="container">
	<div>
		<div class="newsWrapper row row-cols-3" style="margin: 0px auto;">
			@foreach (var news in Model.News)
			{
				<div class="card col p-3" style="padding: 10px;margin: 5px;width: 25rem">
						<img src="@news.MediaContent" class="card-img-top img-thumbnail" alt="news-thumbnail" onclick="OpenNews(@news.ArcticleLink)" />
					<div class="card-group p-3 ">
						<p class="card-title fw-bold fs-5 mb-0"> 
							@news.Title
						</p><br />
						<p class="card-body fst-italic small p-0" style="border-bottom: dotted 1px">
							@news.PubDate
						</p>
						<p class="card-text mt-1" style="text-align: justify;">
							@news.Description
						</p><br />
					</div>
				</div>

			}
		</div>
	</div>
</div>

<script>
	function OpenNews(link){
	window.open(link);
	}

</script>

<style>
	body{
		background-color: antiquewhite;
		font-family: Arial, Helvetica, sans-serif;
	}
	.card{
		box-shadow: 3px 1px 4px grey;
	}


</style>